.main_menu {
    padding: 0;
    margin: 0;
}
.main_menu ul {
    padding: 0;
    list-style: none;
}
.main_menu li {
    cursor: pointer;
}
.main_menu > ul {
    display: flex;
}
.main_menu ul li {
    background-color:lightgray;
    border: 1px solid black;
    border-color: black;
    border-radius: 3px;
    width: 100px;
    position: relative;
}
.main_menu li ul {
    
    position: absolute;
    opacity: 0; 
    visibility: hidden;
    transition-property: opacity, visibility; 
    transition-duration: 0.8s; 
    transition-delay: 0.15s; 
}
.main_menu li:hover {
    background-color: lightslategray;
}
.main_menu li:hover > ul {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 628px) {
    .main_menu > ul {
        display: flex;
        flex-flow: column;
    }
    .main_menu li:hover > ul {   
        padding: 0;
        margin: 0;
        width: 100%;
        display: block;
        position: relative;
}
}