li {
    list-style: upper-roman;
}
li ul li {
    list-style: lower-roman;
}
.list {
    width: 350px;
}
.black_code {
    background-color: black;
    color: green;
    line-height: 1;
    width: 400px;
    height: 4em;
    overflow: auto;
}